@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&family=Roboto+Condensed:ital,wght@1,300&family=Rowdies&display=swap');
body {
    font-size: 17px;
    font-family: Poppins;
    font-weight: normal;
    line-height: 23px;
    background: #E5E5E5;
}
.inline {
max-width: 60%;
display: inline-block;
}

.inline:first-child {
margin-right: 30px;
}
.form h3 {
text-align: center;
}
.form-group label {
display: block;
}
.header {
    font-size: 20px;
    font-family: Roboto;

}

.card-1 {
  background: #58C6C7;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.card-2 {
background: #63C598;
color: white;
border-radius: 20px;
padding: 15px 20px;
  margin-bottom: 20px;

}
.card-3 {
background: #AED78D;
color: white;
border-radius: 20px;
padding: 15px 20px;
  margin-bottom: 20px;

}
.container {
margin: auto;
max-width: 1000px;
padding-top: 30px;
}

.avatar {
width: 350px;
border-radius: 10px;
box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25)

}

a {
color: darkblue;
text-decoration: none;
}

a:hover {
color: darkorange;
}

.btn {
padding: 6px 17px;
cursor: pointer;
border-radius: 20px;
font-family: inherit;
background: #0047AB;
color: white;
border: none;


}
.btn:hover {
opacity: 0.8;

}
.name {
padding: 5px 20px;
border-radius: 5px;
margin: 3px;

}
.mes {
border-radius: 5px;
}

.card-3 li {
margin-bottom: 10px;
}

.card-3  {
margin: 0;
padding: 3px;;
border: 0;

}
.card-3 h3{
margin-left: 40px;
color: black;
}

.card-1 {
margin: 0;
padding: 3px;
border: 0;
margin-bottom: 20px;
}

.card-1 h3{
margin-left: 37px;
color: black;
}

.card-1 li {
margin-bottom: 5px;
}

.card-2 {
padding: 5px;
margin-bottom: 20px;
padding-bottom: 15px;
}

.card-2 h3{
text-align: center;
color: black;
}


.table {
width: 100%;
}

.table td {
text-align: center;
}

.table th:nth-child(1), th:nth-child(2), th:nth-child(3) {
background: #6797CB;
}


